.carousel {

    &-caption {
        display: table;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transform: translate(-50%, -50%);
        width: auto;
        padding-left: 3.4375rem;
        padding-right: 3.4375rem;

        @mixin atSmall {
            padding-left: 4.375rem;
            padding-right: 4.375rem;
        }

        @mixin atMedium {
            padding-left: 6.875rem;
            padding-right: 6.875rem;
        }

        @mixin atLarge {
            padding-left: 8.125rem;
            padding-right: 8.125rem;
        }

        @mixin atExtraLarge {
            width: 73.125rem;
        }

        &--top-position {
            @mixin atExtraLarge {
                top: 5.3125rem;
                transform: translateX(-50%);
            }
        }
    }

    &-indicators {
        display: none;

        @mixin atMedium {
            display: flex;
            background-color: white;
            width: 9.0625rem;
            padding-top: 0.8125rem;
            padding-bottom: 0.8125rem;
            bottom: -1.40625rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            border-radius: 0.125rem;
        }

        li {
            width: 0.9375rem;
            height: 0.9375rem;
            border-radius: 100%;
            background-color: $primaryBlue;
            margin-left: 0;
            margin-right: 0.625rem;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $primaryPale;
            }
        }
    }

    &-control-prev__icon-wrapper,
    &-control-next__icon-wrapper {
        padding: 0.40625rem;
        line-height: 0;
        border-radius: 0.125rem;
        background-color: #7c96b1;

        @mixin atMedium {
            padding: 1.03125rem;
        }
    }

    &-control-prev-icon,
    &-control-next-icon {
        height: 1.0625rem;
        width: 1.0625rem;

        @mixin atMedium {
            height: 1.6875rem;
            width: 1.6875rem;
        }
    }

}