.hero {
    position: relative;

    &__title {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;

        @mixin atSmall {
            font-size: 2.8rem;
        }

        @mixin atMedium {
            font-size: 3.625rem;
        }
    }

    &__text {
        padding-left: 20px;
        padding-right: 20px;
        font-size: .8rem;
        font-weight: 400;
        color: $secondaryBlue;

        @mixin atSmall {
            font-size: 1.375rem;
        }

        @mixin atMedium {
            margin-bottom: 60px;
        }
    }
}